@{
    ViewBag.Title = "Home Page";
}

    <div>
        <img src="~/Images/dream4.jpg" class="img-rounded" height="30" width="100%" style="padding-right:0px; margin-right:0px; margin-top:5px;">
    </div>

    <div class="row">

        <div class="col-md-6">
            <h4>Rofiq</h4>
            <img src="~/Images/1.jpg" class="img-circle" alt="Cinque Terre" width="264" height="196">
        </div>
        <div class="col-md-6">
            <h4>Rofiq</h4>
            <img src="~/Images/1.jpg" class="img-circle" alt="Cinque Terre" width="264" height="196">
        </div>
    </div>
    <div class="row">

        <div class="col-md-6">
            <h4>Rofiq </h4>
            <img src="~/Images/3.jpg" class="img-circle" alt="Cinque Terre" width="264" height="196">
        </div>
        <div class="col-md-6">
            <h4>Rofiq</h4>
            <img src="~/Images/4.jpg" class="img-circle" alt="Cinque Terre" width="264" height="196">
        </div>
    </div>
