@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Member Information</h2>
<hr />
<div>
    <div style=" float:left;">

    </div>
    <div>Content Area</div>

</div>